<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>A1_Bernoulli</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>A2_Bernoulli1</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>A3_Bernoulli</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>A4_Bernoulli</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>A1_Hipercubo</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>A3_Hipercubo</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>A4_Hipercubo</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>A1_TaylorBucket</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>A2_TaylorBucket</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>A3_TaylorBucket</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>A4_TaylorBucket</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>A1_DDiscretas</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>A2_DDiscretas</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>A3_DDiscretas</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>A1_FDiscretas</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>A2_FDiscretas</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>A3_FDiscretas</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>A4_FDiscretas</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>A4_DDiscretas</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>A1_DContinuas</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>A2_DContinuas</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>A3_DContinuas</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>A4_DContinuas</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>A1_FContinuas</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>A2_FContinuas</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>A3_FContinuas</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>A4_FContinuas</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>A2_Hipercubo</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>A1_Bernoulli</servlet-name>
        <url-pattern>/A1_Bernoulli</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A2_Bernoulli1</servlet-name>
        <url-pattern>/A2_Bernoulli1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A3_Bernoulli</servlet-name>
        <url-pattern>/A3_Bernoulli</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A4_Bernoulli</servlet-name>
        <url-pattern>/A4_Bernoulli</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A1_Hipercubo</servlet-name>
        <url-pattern>/A1_Hipercubo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A3_Hipercubo</servlet-name>
        <url-pattern>/A3_Hipercubo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A4_Hipercubo</servlet-name>
        <url-pattern>/A4_Hipercubo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A1_TaylorBucket</servlet-name>
        <url-pattern>/A1_TaylorBucket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A2_TaylorBucket</servlet-name>
        <url-pattern>/A2_TaylorBucket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A3_TaylorBucket</servlet-name>
        <url-pattern>/A3_TaylorBucket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A4_TaylorBucket</servlet-name>
        <url-pattern>/A4_TaylorBucket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A1_DDiscretas</servlet-name>
        <url-pattern>/A1_DDiscretas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A2_DDiscretas</servlet-name>
        <url-pattern>/A2_DDiscretas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A3_DDiscretas</servlet-name>
        <url-pattern>/A3_DDiscretas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A1_FDiscretas</servlet-name>
        <url-pattern>/A1_FDiscretas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A2_FDiscretas</servlet-name>
        <url-pattern>/A2_FDiscretas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A3_FDiscretas</servlet-name>
        <url-pattern>/A3_FDiscretas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A4_FDiscretas</servlet-name>
        <url-pattern>/A4_FDiscretas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A4_DDiscretas</servlet-name>
        <url-pattern>/A4_DDiscretas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A1_DContinuas</servlet-name>
        <url-pattern>/A1_DContinuas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A2_DContinuas</servlet-name>
        <url-pattern>/A2_DContinuas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A3_DContinuas</servlet-name>
        <url-pattern>/A3_DContinuas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A4_DContinuas</servlet-name>
        <url-pattern>/A4_DContinuas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A1_FContinuas</servlet-name>
        <url-pattern>/A1_FContinuas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A2_FContinuas</servlet-name>
        <url-pattern>/A2_FContinuas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A3_FContinuas</servlet-name>
        <url-pattern>/A3_FContinuas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A4_FContinuas</servlet-name>
        <url-pattern>/A4_FContinuas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A2_Hipercubo</servlet-name>
        <url-pattern>/A2_Hipercubo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
